<a href="https://colab.research.google.com/github/Durgagorrela/FMML_project_and_labs/blob/main/Python_basics_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Declare a variable called "aid" and asign a value as your name then print the name like "Kiet"
---

In [1]:

# Declare the variable and assign a value (replace "YourName" with your actual name)
aid = "yourname"

# Capitalize the first letter of the name and print it
capitalized_name = aid.capitalize()
print(capitalized_name)

Yourname

 declare a value to the valrable then print the type of value

In [2]:

# Declare a variable and assign a value
my_variable = 42

# Print the type of the value
print(type(my_variable))

<class 'int'>

Write a python code using Format Method and "fstrings"

In [3]:

name = "Alice"
age = 30

formatted_str = "My name is {} and I am {} years old.".format(name, age)
print(formatted_str)

My name is Alice and I am 30 years old.

Write a python code using .join() method

Input format:
kiet
Output format:
kkiet

In [4]:

input_str = "kiet"
output_str = "k" + "".join(input_str)
print(output_str)

kkiet

Write a python code for checking whether the person is eligible for  Vote or Not  using conditionals

In [ ]:

# Get the person's age as input
age = int(input("Enter your age: "))

# Check if the person is eligible to vote
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

write simple codes using string methods:

In [ ]:
#any 10 methods
#write your code here

#DEBUGGING

In [ ]:
a="kiek"
b="kiet"
print("both {} and {} are in same campus".format(a,b))
#output should be like this
#both kiet and kiek are in same campus

both kiek and kiet are in same campus

In [ ]:
a="kiet"
b="kiek"
print("both {a} and {b} are in same campus")
#both kiet and kiek are in same campus
#correct the output

both {a} and {b} are in same campus

In [ ]:
a=5
b=12
if a==5 and b==12
  print(a,b)
# correct the code

SyntaxError: ignored

In [ ]:
if a%2=0:
   print("a is divisible by 2")

else:
    print("not divisible")

SyntaxError: ignored